#board{
  display: grid;
}
.item{
  font-size: 45px; 
  background-color: cadetblue;
  display: grid;
  border: solid black;
  color: black;
  background-color: cadetblue;
  justify-items: center;
  align-items: center;
}
.coin{
  color: pink
}
.wall{
  background-color: burlywood
}